* {
    background: -webkit-linear-gradient(left, #0077fb, #CCC);
    background: -moz-linear-gradient(left, #0077fb, #6e78ff);
    background: -o-linear-gradient(left, #0077fb, #6e78ff);
    background: linear-gradient(left, #0077fb, #6e78ff);
    background: -ms-linear-gradient(left, #0077fb, #6e78ff);
}


45度角
.deg45{
    background: -webkit-linear-gradient(45deg,#ace,#f96); // chrome这一个就够

    background: -moz-linear-gradient(45deg,#ace,#f96);
    background: -webkit-gradient(linear,0100%,100%0%,from(#ace),to(#f96));
    background: -o-linear-gradient(45deg,#ace,#f96);
}

